.view-password-icon {
    width: 19px !important;
    height: 19px !important;
    margin: 0 0 0 -7px;
}

.password-row .MuiOutlinedInput-root {
    padding-right: 0;
}

.password-message-ul{
    margin-left: 20px;
}

.ResetPasswordPage .MuiBox-root .form{
    width: 60%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.resetpassword_signup{
    width: 90%;
}

@media (max-width: 1599px) {
    .sign-up-form{
        display: flex;
        justify-content: center;
    }
    .resetpassword_signup{
        width: 40%;
    }
}