.timer{
    color: rgb(0, 0, 169);
    font-size: 16px;
    font-weight: 500;
}


.errorOTP{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.resendOTP{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(0, 0, 169);
    font-weight: 500;
    cursor: pointer;
}