.investment-opportunity-wrapper {
    padding-bottom: 30px;
}

/* .investment-opportunity-wrapper {
    background-color: #F3F4F6 !important;
    height: 88vh !important;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .investment-opportunity-wrapper>div {
    background-color: #fff;
    width: 65%;
    border-radius: 8px;
} */